.App {
  background: rgb(2,0,41);
   background: linear-gradient(117deg, rgba(2,0,41,1) 0%, rgba(4,62,92,1) 0%, rgba(5,123,142,1) 45%, rgba(5,123,142,1) 93%);
  text-align: center;
  background-size: cover;
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}



