.App {
  background: rgb(6,3,64);
  background: linear-gradient(117deg, rgba(6,3,64,1) 0%, rgba(5,119,140,1) 25%, rgba(5,123,142,1) 75%, rgba(7,20,82,1) 100%);
  text-align: center;
  background-size: cover;
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}



